body {
	background-color: #ccc;
	width: 80%;
	margin: auto;
}

h1 {
	border-bottom: solid 1px #000;
}

#promptNome {
	text-align: right;
}

span {
	display: block;
}

h1, #tituloResultados {
	text-align: center;
	margin-bottom: 20px;
}

.box {
	width: 49%;
	height: 100%;
	border: solid 1px #000;
	display: inline-block;
	text-align: center;
	vertical-align: middle;

}

.boxResultados {
	height: 400px;
	margin: auto;
	text-align: center;
}

.corCerta {
	color: green;
}

.corErrada {
	color: red;
}