body {
	background-color: #ccc;
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
}

h1 {
	border-bottom: solid 1px #000;
}

#promptNome {
	text-align: center;
}

.campo-nome {
	text-align: center;
}

.campo-nome input {
	width: 50%;
}

.campos-perguntas {
text-align: right;
width: 80%;
display: flex;
flex-direction: column;
}

.classe-input {
	width: 50%;
}

.botao-enviar {
	display: block;
	margin: auto;
	margin-top: 10px;
}

h1, #tituloResultados {
	text-align: center;
	margin-bottom: 20px;
}

.span-resposta {
	display: block;
}

.box {
	width: 49%;
	height: 100%;
	border: solid 1px #000;
	display: inline-block;
	text-align: center;
	vertical-align: middle;

}

.boxResultados {
	height: 400px;
	margin: auto;
	text-align: center;
}

.corCerta {
	color: green;
}

.corErrada {
	color: red;
}